.emptyPage1 {
  margin: 0px 60px;
  background: #F0F0F0;
}

.emptyPage2 {
  margin: 0px 60px;
  background: #F0F0F0;
}

.emptyPage3 {
  margin: 0px 60px;
  background: #F0F0F0;
}

.id {
  margin: 2%;
}